# Environment variables
.env
*.secret

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/

# Docker
*.tar
*.tar.gz
docker-compose.yml.local

# MLflow/Minio/Postgres data
mlruns/
minio-data/
postgres-data/

# Windows-specific
Thumbs.db
Desktop.ini
*.log